body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}


tr {
    font-size: 1.2em;
}

.panelsearch {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f2f0f0 100%);
}
.caption p{
    text-align: center;
    font-style: italic;
    vertical-align: top;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.red {
    color: red;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.orange {
  color: orange;
}

.green {
  color: green;
}


.lred {
    background-color: red;
}


.lorange {
  background-color: orange;
}

.lgreen {
  background-color: green;
}

.brandcl {
  padding: 2px 2px;
  font-size: 15px;
  line-height: 15px;
}

.strap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.littlepad {
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  height: 820px;
   overflow-y: scroll;
}
