body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


tr {
    font-size: 1.2em;
}


.caption p{
    text-align: center;
    font-style: italic;
    vertical-align: top;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.red {
    color: red;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.orange {
  color: orange;
}

.green {
  color: green;
}
