body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


tr {
    font-size: 1.2em;
}

.panelsearch {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f2f0f0 100%);
}
.caption p{
    text-align: center;
    font-style: italic;
    vertical-align: top;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.red {
    color: red;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.brandcl {
  padding: 2px 2px;
  font-size: 15px;
  line-height: 15px;
}
