extends layout
block content
            .row.content 
              .page-header
                  h3 Technologies being used
                
              .media
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='/images/meanicon64.png', alt='...')
                    .media-body.bg-info
                        h4.media-heading  MEAN Stack
                          h6    
              .media      
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='/images/mongodbicon64.png', alt='...')
                    .media-body.bg-info
                        h4.media-heading MongoDB
                          h6    MEAN stack
              .media              
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='...', alt='...')
                    .media-body.bg-info
                        h4.media-heading ExpressJS
                          h6    MEAN stack
              .media         
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='...', alt='...')
                    .media-body.bg-info
                        h4.media-heading AngularJS
                          h6    MEAN stack
                  
              .media                 
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='...', alt='...')
                    .media-body.bg-info
                        h4.media-heading NodeJS
                          h6    MEAN stack
                          
              .media            
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='...', alt='...')
                    .media-body.bg-info
                        h4.media-heading Bootstrap
                          h6    MEAN stack
              .media               
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='/images/flickricon64.png', alt='...')
                    .media-body.bg-info
                        h4.media-heading Flickr API
                          h6    MEAN stack        
              .page-header
                  h3 Technologies being used
              
              .media           
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='/images/manjaroicon64.png', alt='...')
                    .media-body.bg-info
                        h4.media-heading  Manjaro
                          h6   Manjaro
                          
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='/images/atomicon64.jpg', alt='...')
                    .media-body.bg-info
                        h4.media-heading  Atom
                          h6    Atom
                          
                    .media-left.media-middle
                      a(href='#')
                        img.media-object(src='...', alt='...')
                    .media-body.bg-info
                        h4.media-heading Inkscape
                          h6   Inkscape
              .page-header
                  h3 Chinese
                          
                  .media           
                        .media-left.media-middle
                          a(href='#')
                            img.media-object(src='...', alt='...')
                        .media-body.bg-info
                            h4.media-heading  Manjaro
                              h6   Manjaro
                              
                        .media-left.media-middle
                          a(href='#')
                            img.media-object(src='...', alt='...')
                        .media-body.bg-info
                            h4.media-heading  Atom
                              h6    Atom
                              
                        .media-left.media-middle
                          a(href='#')
                            img.media-object(src='...', alt='...')
                        .media-body.bg-info
                            h4.media-heading Inkscape
                              h6   Inkscape

                      
