
extends layout

block content
    .row
        .col-md-10
            .jumbotron
                .container
                    .row
                        .col-md-3-md-offset-2
                            h1.strap=pageHeader.title
                        .col-md-3
                              span
                                img(src='/images/xiaomiantiao128.png', width='100', height='100')
            
                    .row
                          .col-md-10
                              p 
                              p
                              p.strap=pageHeader.strapline
                          .col-md-2.col-md-offset-10
                              a.btn.btn-primary.btn-lg(href='#', role='button') About
    
