
extends layout

block content
    .row
        .col-md-10
            .jumbotron
                .container
                    .row
                        .col-md-3-md-offset-2
                            h1=pageHeader.title
                        .col-md-3
                              span
                                img(src='/images/noodle.png', width='100', height='100')
            
                    .row
                          .col-md-10
                              p= pageHeader.strapline
                          .col-md-10
                              a.btn.btn-primary.btn-lg(href='#', role='button') About
        .row                    
          .col-md-8.col-md-offset-2
              .input-group
                  input.form-control(type='text',placeholder='Search for...')
                  span.input-group-btn
                      a(href='/results/')
                        button.btn.btn-default(type='button') Go!
