extends layout

block content
    .row
    p
    .row
    p
    .row
    p
    .row.vertical-align
      .panelsearch.panel.panel-primary
        .panel-body
          .row.vertical-align     
            .panel.panel-primary
            .col-md-2
              .thumbnail(ng-controller="FlickrbuildPicCtrlv2")
                  img.responsive(src='{{getChinaPicUrl}}')
                  //- .caption 
                  //-     p {{getChinaPicTitle}}  
            .col-md-8.col-md-offset-1
              form
                .input-group(ng-controller="inputSearchCtrl")  
                  .input-group-btn(ng-controller="StyleCtrl")
                    button.btn.btn-default(type='button', ng-click="changeClass('btn1')", ng-class="class1") 中文
                    button.btn.btn-default.active(type='button', ng-click="changeClass('btn2')", ng-class="class2") pinyin
                    button.btn.btn-default(type='button', ng-click="changeClass('btn3')", ng-class="class3") English
                  input.form-control(ng-model='Fact.searchparam',type='text',placeholder='Search for Chinese, pinyin or English...')
                  .input-group-btn
                    button.btn.btn-default(type='submit',ng-click="newSearch()") Go!
    .row
    p
    .row
      .col-md-12(ng-controller="navBarCtrl",ng-class="{hidden: Fact.timequery === 0}")
        .panel.panel-primary
            .panel-heading(ng-controller="queryInfoCtrl",role='alert') {{Fact.nbresults}} results retrieved in {{Fact.timequery}}  seconds
            .panel-body(ng-controller="resultsListCtrl") 
                table.table
                    tr
                        th Chinese
                        th Pinyin
                        th English
                        th HSK level
                        th Associated characters 
                    tr(ng-repeat="result in Fact.results")
                        td 
                          span(ng-repeat="char in result.characters") 
                            span(ng-class="{red: char.tone == 1, orange: char.tone == 2, green: char.tone == 3, blue: char.tone == 4, black: char.tone == 0}") 
                                 {{char.chinese }}
                        td {{result.pinyin2}}
                        td {{result.translation}}
                        td {{result.level}}
                        td
                          span(ng-repeat="char in result.characters") 
                            abbr(title='{{char.pinyin}} - {{char.translation}}')  {{char.chinese}} ,
                    
    .row
    p
    .row
    p
    
