extends layout

block content
    .row
    p
    .row
    p
    .row
    p
    .row.vertical-align
      .col-md-3.col-md-offset-4
        .thumbnail(ng-controller="FlickrbuildPicCtrlv2")
            img.responsive(src='{{getChinaPicUrl}}')
            .caption 
                p {{getChinaPicTitle}}
    .row
    p
    .row
    p      
    .row.vertical-align       
      .col-md-7.col-md-offset-2
        form
          .input-group(ng-controller="inputSearchCtrl")  
            .input-group-btn
              button.btn.btn-default(type='button') 中文
              button.btn.btn-default(type='button') pinyin
              button.btn.btn-default(type='button') English
            input.form-control(ng-model='Fact.searchparam',type='text',placeholder='Search for...')
            .input-group-btn
              button.btn.btn-default(type='submit',ng-click="newSearch()") Go!
    .row
    p
    .row
    p
    .row
    p
    .row        
    p
    .row
    .alert.alert-info(ng-controller="queryInfoCtrl",role='alert') {{Fact.nbresults}} results retrieved in {{Fact.timequery}}  seconds
    .row
    p
    .row
    p
    .col-md-12(ng-controller="resultsListCtrl") 
        table.table
            tr
                th Chinese
                th Pinyin
                th English
                th HSK level
                th Associated characters 
              tr(ng-repeat="result in Fact.results")
                td {{result.chinese}}
                td {{result.pinyin2}}
                td {{result.translation}}
                td {{result.level}}
                td
                  span(ng-repeat="char in result.characters") 
                    abbr(title='{{char.pinyin}} - {{char.translation}}')  {{char.chinese}} ,
                  

    .row
      .col-md-12.col-md-offset-10
        p
        a(href="/")
          button.btn.btn-default(type='button') Homepage
